# PART II

In [1]:
import pandas as pd
import numpy as np

In [2]:
fruit =     ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
fruit

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [4]:
fruits = pd.Series(fruit)

In [5]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Determine the number of elements in fruits.

In [10]:
fruits.size

17

### Output only the index from fruits.

In [14]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [59]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Output only the values from fruits.

In [15]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [69]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### Confirm the data type of the values in fruits.

In [17]:
fruits.dtype

dtype('O')

### Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [18]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [19]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [21]:
fruits.sample(2)

0      kiwi
12    mango
dtype: object

### Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [22]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Run the code necessary to produce only the unique string values from fruits.

In [32]:
pd.unique(fruits)

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### Determine how many times each unique string value occurs in fruits.

In [73]:
unique_fruits = fruits.unique()
unique_fruits.size

13

In [72]:
unique_fruits.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### Determine the string value that occurs most frequently in fruits.

In [43]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [45]:
fruits.value_counts().idxmax

<bound method Series.idxmax of kiwi                4
mango               2
gooseberry          1
papaya              1
pineapple           1
blueberry           1
honeydew            1
tomato              1
gala apple          1
blackberry          1
strawberry          1
honeycrisp apple    1
watermelon          1
dtype: int64>

In [74]:
fruits.value_counts().nlargest(n=1,keep = "all")

kiwi    4
dtype: int64

### Determine the string value that occurs least frequently in fruits.

In [47]:
fruits.value_counts(ascending = True)

gooseberry          1
papaya              1
pineapple           1
blueberry           1
honeydew            1
tomato              1
gala apple          1
blackberry          1
strawberry          1
honeycrisp apple    1
watermelon          1
mango               2
kiwi                4
dtype: int64

In [58]:
counts = fruits.value_counts()
min_count = counts.min()
print(counts.where(counts == min_count).dropna())

gooseberry          1.0
papaya              1.0
pineapple           1.0
blueberry           1.0
honeydew            1.0
tomato              1.0
gala apple          1.0
blackberry          1.0
strawberry          1.0
honeycrisp apple    1.0
watermelon          1.0
dtype: float64

In [67]:
fruits.value_counts().nsmallest(n = 1,keep = "all")

gooseberry          1
papaya              1
pineapple           1
blueberry           1
honeydew            1
tomato              1
gala apple          1
blackberry          1
strawberry          1
honeycrisp apple    1
watermelon          1
dtype: int64

In [77]:
#### notes colors_series.apply(lambda row: row:count("r"))
#### colors_series.str.count("r")

#### def red_or_not(string):
####    if string.lower() == "red":
####       return "red"
####     else:
####       return "not_red"
#### colors_series.apply(red_or_not)

# PART II

### Capitalize all the string values in fruits.

In [79]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [78]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

### Count the letter "a" in all the string values (use string vectorization).

In [179]:
fruits.apply(lambda row: row.count("a"))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [180]:
fruits.apply(lambda row: row.count("a")).sum()

14

### Output the number of vowels in each and every string value.

In [181]:
def count_vowel(fruits):
    for fruit in fruits:
        count = 0
        for letter in fruits:
            if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
                count += 1
    return count
fruits.apply(count_vowel)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [183]:
vowels = "aeiou"
fruits.apply(count_vowel)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [184]:
fruits.str.count(r"[aeiou]")

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

### Write the code to get the longest string value from fruits.

In [194]:
mask = fruits.apply(lambda row: len(row))
fruits[mask == mask.max()]

5    honeycrisp apple
dtype: object

In [188]:
max(fruits, key= len)

'honeycrisp apple'

### Write the code to get the string values with 5 or more letters in the name.

In [158]:
len_fruits = fruits.apply(lambda row: len(row))
fruits[len_fruits >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [167]:
mask = fruits.apply(lambda row: (row.count("o")) >= 2)
fruits[mask == True]

6         tomato
15    gooseberry
dtype: object

### Write the code to get only the string values containing the substring "berry".

In [169]:
mask = fruits.apply(lambda row: "berry" in row)
fruits[mask == True]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

### Write the code to get only the string values containing the substring "apple".

In [172]:
mask = fruits.apply(lambda row: "apple" in row)
fruits[mask == True]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

### Which string value contains the most vowels?

In [177]:
vowel_count = fruits.str.count(r"[aeiou]")
fruits[vowel_count == max(vowel_count)]

5    honeycrisp apple
dtype: object

# PART III

Use pandas to create a Series named letters from the following string:
    'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

### Which letter occurs the most frequently in the letters Series?

### Which letter occurs the Least frequently?

### How many vowels are in the Series?

### How many consonants are in the Series?

### Create a Series that has all of the same letters but uppercased.

### Create a bar plot of the frequencies of the 6 most commonly occuring letters.

###

###

###

###

###

###

###

###