In [1]:
import pandas as pd
import numpy as np

In [2]:
fruit =     ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
fruit

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [4]:
fruits = pd.Series(fruit)

In [5]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Determine the number of elements in fruits.

In [10]:
fruits.size

17

### Output only the index from fruits.

In [14]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [59]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Output only the values from fruits.

In [15]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [69]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### Confirm the data type of the values in fruits.

In [17]:
fruits.dtype

dtype('O')

### Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [18]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [19]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [21]:
fruits.sample(2)

0      kiwi
12    mango
dtype: object

### Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [22]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Run the code necessary to produce only the unique string values from fruits.

In [32]:
pd.unique(fruits)

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### Determine how many times each unique string value occurs in fruits.

In [73]:
unique_fruits = fruits.unique()
unique_fruits.size

13

In [72]:
unique_fruits.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### Determine the string value that occurs most frequently in fruits.

In [43]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [45]:
fruits.value_counts().idxmax

<bound method Series.idxmax of kiwi                4
mango               2
gooseberry          1
papaya              1
pineapple           1
blueberry           1
honeydew            1
tomato              1
gala apple          1
blackberry          1
strawberry          1
honeycrisp apple    1
watermelon          1
dtype: int64>

In [74]:
fruits.value_counts().nlargest(n=1,keep = "all")

kiwi    4
dtype: int64

### Determine the string value that occurs least frequently in fruits.

In [47]:
fruits.value_counts(ascending = True)

gooseberry          1
papaya              1
pineapple           1
blueberry           1
honeydew            1
tomato              1
gala apple          1
blackberry          1
strawberry          1
honeycrisp apple    1
watermelon          1
mango               2
kiwi                4
dtype: int64

In [58]:
counts = fruits.value_counts()
min_count = counts.min()
print(counts.where(counts == min_count).dropna())

gooseberry          1.0
papaya              1.0
pineapple           1.0
blueberry           1.0
honeydew            1.0
tomato              1.0
gala apple          1.0
blackberry          1.0
strawberry          1.0
honeycrisp apple    1.0
watermelon          1.0
dtype: float64

In [67]:
fruits.value_counts().nsmallest(n = 1,keep = "all")

gooseberry          1
papaya              1
pineapple           1
blueberry           1
honeydew            1
tomato              1
gala apple          1
blackberry          1
strawberry          1
honeycrisp apple    1
watermelon          1
dtype: int64